p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 200px;
    height: 200px;
    background-color: orange;
}

.has-purple-background {
    background-color: purple;
}

.p1 {
    color: yellow;
}

.p2 {
    color: blue;
}
